/* Author: Jacob Edwards */
/* Web Development Final Project Contact Styles */

/* Styles for Introductory Blurb */

p {
    width: 40%;
    min-width: 350px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    text-decoration: underline;
    background-color: rgba(255,255,255,.9);
}

/* Styles for Links Container */

#links {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: row wrap;
    margin: auto;
    padding-bottom: 50px;
    border: 5px solid white;
    box-shadow: 3px 3px 3px white;
    background-color: grey;
}

/* Styles for Link Buttons */

.button {
    display: inline-block;
    width: 256px;
    height: 256px;
    margin-top: 30px;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 15px;
    box-shadow: 0px 20px rgb(80, 80, 80);
    background-color: white;
}

.button:hover {
    background-color: lightgrey;
}

.button:active {
    border: 1px solid black;
    box-shadow: 0px 10px black;
    transform: translateY(10px);
}

#fb {
    background-image: url('../img/fb.png');
}

#linkedin {
    background-image: url('../img/linkedin.png');
}

#git {
    background-image: url('../img/git.png');
}

#email {
    background-image: url('../img/email.png');
}
