#tableback {
	width: 80%;
	min-width: 580px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, .9);
}

table, th, td {
	border-collapse: separate;
	border-spacing: 1px;
	font-family: 'Frank Ruhl Libre';
	border: 2px solid black;
}

caption {
	margin-bottom: 5px;
	padding-top: 20px;
	border-bottom: 1px solid black;
	font-family: denseregular, arial;
	font-size: 48px;
	text-align: left;
}

th {
	color: white;
	background-color: grey;
}

td {
	width: 20%;
	padding: 10px;
}
