/* Author: Jacob Edwards */
/* Web Development Final Project Goals Styles */

/* Styles for Table Container */

#tableback {
	width: 80%;
	min-width: 580px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, .9);
}

/* Styles for Table Borders */

table, th, td {
	border: 2px solid black;
	border-collapse: separate;
	border-spacing: 1px;
}

/* Styles for Table Captions */

caption {
	margin-bottom: 5px;
	padding-top: 20px;
	border-bottom: 1px solid black;
	font-family: denseregular, arial;
	font-size: 48px;
	text-align: left;
}

/* Styles for Table Headings */

th {
	color: white;
	background-color: grey;
}

/* Styles for Table Cells */

td {
	width: 20%;
	padding: 10px;
}
