article {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 8px;
    font-family: dubairegular;
    background-color: rgba(255, 255, 255, .9);
}

section:nth-child(even) {
    padding: 10px;
    background-color: white;
}

h3 {
    font-variant: small-caps;
}

hr {
    border: 1px solid black;
}

#contact {
    display: flex;
    justify-content: space-between;
}

#contact a {
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

#contact a:visited {
    color: navy;
}

article li {
    padding-top: 10px;
}

article li:first-child {
    padding-top: 0px;
}

#adobe {
    float: right;
    margin-right: 5%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
	position: relative;
    top: -130px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    background-color: white;
}

#adobe:visited {
    color: black;
}
