#skills {
    float: left;
    width: 50%;
    margin-top: 6vh;
    margin-left: 8%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    list-style-position: inside;
    background-color: rgba(255, 255, 255, .9);
}

#skills li {
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

#example {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: left;
    margin-top: 10px;
    margin-left: 15%;
}

#example a {
    margin-bottom: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px white;
}

#example a:active {
    transform: translateY(3px);
}
